<!DOCTYPE html>
<html>
  <head>
    <title>Employee Details</title>
  </head>
  <body>
    <h1>Employee Details</h1>
    <section>
      <h2>Name</h2>
      <p>{{ employee.name }}</p>
    </section>
    <section>
      <h2>Surname</h2>
      <p>{{ employee.surname }}</p>
    </section>
    <section>
      <h2>Years of Experience</h2>
      <p>{{ employee.experience }}</p>
    </section>
    <section>
      <h2>Main Responsibilities</h2>
      <p>{{ employee.responsibilities }}</p>
    </section>
    <section>
      <h2>Department</h2>
      <p>{{ employee.department }}</p>
    </section>
  </body>
</html>
